<!DOCTYPE html>
<html>
  <head>
    <title>Comment App</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <main>
      <header><strong>Step 4: Database</strong></header>
      <article>
        <h1>Feed</h2>
        {% for c in comments %}
        <div id="comment-block">
          <div class="name">{{ c.name }}</div><div class="comment">{{ c.comment }}</div>
        </div>
        {% endfor %}
      </article>
      <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name }}
        </div>
        <div class="form-group">
          {{ form.comment.label }}
          {{ form.comment }}
        </div>
        {{ form.submit() }}
      </form>
      <nav>&nbsp;</nav>
      <aside>&nbsp;</aside>
      <footer>&nbsp;</footer>
    </main>
  </body>
</html>